*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}
section{
 width:100%;
 height:100vh;
 background-image:url("./img1.avif");
background-repeat: no-repeat;
place-content: center;
text-align: center;
background-size: 100% 100%;
background-attachment:fixed;
box-shadow: rgba(216, 255, 236, 1)  0.3px -2px 1px inset;
border-color:rgba(222, 223, 225, 1);
border:0.5px solid;
filter: drop-shadow(8px 8px 50px rgba(255, 219, 102, 1)) brightness(90%) saturate(120%);

}
h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   color:white;
   text-transform: uppercase;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
}
h6{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 10px;
   color:white;
   word-spacing: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
}

.section2{
 width:100%;
 height:100vh;
 background-image:url("./img5.avif");
background-repeat: no-repeat;
place-content: center;
text-align: center;
background-size: 100% 100%;
background-attachment: fixed;
box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
/* filter: drop-shadow(8px 8px 50px rgba(255, 219, 102, 1)) brightness(45px) saturate(200%); */

}
h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   color:white;
   text-transform: uppercase;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
letter-spacing: 3px;
}
h6{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 10px;
   color:white;
   word-spacing: 20px;
      text-transform: uppercase;
            letter-spacing: 1px;

}
.section3{
   width: 100%;
   height: 100vh;
   background-image: url("./img3.avif");
   background-repeat: no-repeat;
   place-content: center;
   text-align: center;
   background-size: 100% 100%;
background-attachment: fixed;
box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
/* filter: drop-shadow(8px 8px 50px rgba(255, 219, 102, 1)) brightness(45px) saturate(200%); */

}
h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   color:white;
   text-transform: uppercase;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
letter-spacing: 3px;

}
h6{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 10px;
   color:white;
   word-spacing: 20px;
      text-transform: uppercase;
            letter-spacing: 1px;

}
.section4{
   width: 100%;
   height: 100vh;
   background-image: url("./img4.avif");
   background-repeat: no-repeat;
   place-content: center;
   text-align: center;
  background-size: 100% 100%;
   background-attachment: fixed;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
/* filter: drop-shadow(8px 8px 50px rgba(255, 219, 102, 1)) brightness(45px) saturate(200%); */

}
h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   color:white;
   text-transform: uppercase;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
letter-spacing: 3px;

}
h6{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 10px;
   color:white;
   word-spacing: 20px;
      text-transform: uppercase;
            letter-spacing: 1px;

}
.section5{
   width: 100%;
   height: 100vh;
   background-image: url("./img2.avif");
   background-repeat: no-repeat;
   place-content: center;
   text-align: center;
   background-size: 100% 100%;
   background-attachment: fixed;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
/* filter: drop-shadow(8px 8px 50px rgba(255, 219, 102, 1)) brightness(90%) saturate(200%); */

}
h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   color:white;
   text-transform: uppercase;
   box-shadow: rgba(216, 255, 236, 1)  0.8px -1px 5px inset;
letter-spacing: 3px;

}
h6{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 10px;
   color:white;
   word-spacing: 20px;
      text-transform: uppercase;
            letter-spacing: 1px;

}
@media only screen and(min-width:600px){
     section{
      /*for tablet*/
      background-size: 150% 200%;
   }
      .section2{
      background-size: 150% 200%;
   }
         .section3{
            background-size: 150% 200%;
         }
               .section4{
                  background-size: 150% 200%;
               }
                     .section5{
                        background-size: 150% 200%;
                     }
}
@media only screen and(min-width:800px){
   section{
      /*for desktop*/
      background-size: 100% auto;
   }
      .section2{
      background-size: 100% auto;
   }
         .section3{
            background-size: 100% auto;
         }
               .section4{
                  background-size: 100% auto;
               }
                     .section5{
                        background-size: 100% auto;
                     }
}